table#tableNodes tr:nth-child(even) {
	background-color: #EFEFEF;
}

table#tableNodes tr:nth-child(odd) {
	background-color: #fff;
}

.whiteFont, #tableNodes th {
	color: white;
	background-color: #3C3C3C;
	    background-image:linear-gradient(#434343, #282828);
}
button {
	background-color: #C9E609;
}

.error {
	color: red;
}
