<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<title>Managment panel</title>


	<script src="/js/sigma.min.js"></script>
	<script src="/js/sigma.parsers.json.min.js"></script>
</head>
<body>
	<h1 class="whiteFont">AgE3</h1>
	<h3 class="error" th:if="${error}" th:text="${error}"></h3>

	<h2>Cluster info</h2>
	<div>
		<p>
			Client name: <b th:text="${cluster.clientName}"></b>, Master node: <b
				th:text="${cluster.masterNode}"></b>, Members: <b
				th:each="member : ${cluster.members}" th:text="${member} "></b>
		</p>
	</div>

	<h2>Nodes info</h2>
	<table id="tableNodes">
		<tr>
			<th>Node id</th>
			<th>Node type</th>
			<th>Worker state</th>
			<th>Errors</th>
		</tr>
		<tr th:each="node : ${nodes}">
			<td th:text="${node.id}"></td>
			<td th:text="${node.type}"></td>
			<td th:text="${node.workerState}"></td>
			<td th:each="error : ${node.errors}" th:text="${error} "></td>
		</tr>
	</table>

	<h2>Commands</h2>

	<form action="#" th:object="${cmd}" th:action="@{/}" method="post">
		<label>Select command</label> <select th:field="*{name}">
			<option th:each="command : ${commands}" th:value="${command.cmdName}"
				th:text="${command.cmdName}"></option>
		</select>
		<button type="submit">Submit</button>
	</form>


	<div th:if="${cmd.name}">
		<form action="#" th:object="${cmd}" th:action="@{/execution/}"
			method="post">
			<div th:if="${!operations.isEmpty()}">
				<label> Select operation </label> <select th:field="*{operation}">
					<option th:each="op : ${operations}" th:value="${op}"
						th:text="${op}"></option>
				</select>
			</div>
			<div th:if="${!options.isEmpty()}">
				<label>Select option</label> <select th:field="*{option}">
					<option th:each="op : ${options}" th:value="${op}" th:text="${op}">
					</option>
				</select> <input type="text" th:field="*{optionValue}" />

			</div>
			<p>
				Command to execute: <b th:text="${cmd.name}"></b>
			</p>
			<input type="hidden" th:field="*{name}" th:value="${cmd.name}" />

			<button type="submit">Execute</button>

		</form>
	</div>

	<h2>Graph</h2>
	<div id="container"></div>
	<script th:inline="javascript">
/*<![CDATA[*/
    var dataJson = [[${graph}]];
    var json = JSON.parse(dataJson);
    s = new sigma({ 
        graph: json,
        container: 'container',
        settings: {
            defaultNodeColor: '#C9E609'
        }
});
/*]]>*/
</script>
	
    
</body>
</html>